@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --font-size--small: clamp(
    0.825rem,
    0.825rem + ((1vw - 0.2rem) * 0.353),
    1.0625rem
  );
  --font-size--medium: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.37), 1.25rem);
  --font-size--large: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 0.37), 2rem);
  --font-size--x-large: clamp(2.5rem, 2.5rem + ((1vw - 0.2rem) * 0.741), 3rem);
  --section-title-color: rgb(65, 0, 112);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}

section {
  overflow: hidden;
  font-size: 18px;
}

h1.section-title {
  position: relative;
  border-right: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
  border-radius: 5px;
  width: fit-content;
  margin: 10px auto;
  padding: 10px 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size--large);
  margin-bottom: 50px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  color: rgb(100, 100, 180);

  &::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 300%;
    border: 1px solid var(--section-title-color);
  }

  &::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 300%;
    border: 1px solid var(--section-title-color);
  }
}

.invisivel {
  opacity: 0;
  height: 0 !important;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.highlight {
  color: rgb(100, 100, 180);
}

header {
  width: 100%;
  height: 100svh;
  background-image: radial-gradient(closest-side, rgb(21, 21, 88), black);

  h1 {
    user-select: none;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    padding: 20px 10px;
  }

  div.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

    div.star-layer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100svh;
      left: 0;
      transition: linear 300ms;
      transform: translateZ(0);

      div.star {
        color: white;
        position: absolute;
        border-radius: 50%;
        background-color: white;
      }
    }

    div.parallax:hover {
      div.star-layer {
        will-change: transform;
      }
    }
  }

  @keyframes pisca {
    0% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

main {
  section.apresentacao {
    width: 100%;

    div.apresentacao-container {
      margin: auto;
      height: 50rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
      width: 80%;

      div.apresentacao-foto {
        position: relative;
        margin-bottom: 30px;
        height: 320px;
        width: 265px;
        background-image: url("../assets/fotao.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
      }

      div.apresentacao-foto::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 13rem;
        height: 10rem;
        border-radius: 10rem 10rem 10px 10px;
        bottom: 10%;
        left: 50%;
        background: linear-gradient(
          270deg,
          #ef32d9,
          #89fffd,
          #4ecdc4,
          #a1ffce,
          #faffd1
        );
        background-size: 1000% 1000%;
        -webkit-animation: back-shadow 25s ease infinite;
        -moz-animation: back-shadow 25s ease infinite;
        animation: back-shadow 25s ease infinite;
        transform: translate(-50%);
        filter: blur(10px);

        @-webkit-keyframes back-shadow {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        @-moz-keyframes back-shadow {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        @keyframes back-shadow {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }

      div.apresentacao-foto::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: saturate(100%);
      }

      div.texto-container {
        width: 70%;
        color: white;
        flex-direction: column;
        position: relative;

        h1.apresentacao-titulo {
          padding: 0 50px;
          margin-bottom: 50px;
          margin-bottom: 20px;
          font-size: var(--font-size--x-large);
          font-family: "Playfair Display";
        }

        article {
          color: #f1f1f1;
          margin: auto;
          width: 100%;
          font-size: var(--font-size--medium);
        }

        div.icons {
          position: relative;
          width: 200px;
          margin-top: 20px;
          height: 60px;

          img {
            position: absolute;
            width: 50px;
            transition: width ease-in-out 0.3s;
            top: 50%;
            transform: translate(0, -50%);

            &:hover {
              width: 55px;
            }

            &.github {
              right: 5px;
            }

            &.instagram {
              left: 5px;
            }

            &.linkedin {
              transform: translate(-50%, -50%);
              left: 50%;
            }
          }
        }

        ul {
          list-style: none;
        }
      }

      @media (width < 1000px) {
        height: 50rem;
        width: 100%;
        flex-direction: column-reverse;

        div.apresentacao-foto {
          margin-bottom: 0;
        }
        div.texto-container {
          width: 100%;
          max-width: none;

          div.icons {
            justify-content: center;
            margin: 0 auto;
          }
          h1 {
            text-align: center;
            width: 100%;
          }
          article {
            width: 80%;
            text-align: center;
          }
        }
      }
    }
  }

  section.transicao {
    height: 30rem;
    margin: 100px 0;
    background-image: url(https://starwalk.space/gallery/images/andromeda-galaxy-2022/1920x1080.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 70px 40px rgba(0, 0, 0),
      inset 0 -70px 40px rgba(0, 0, 0);

    .transbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    h1 {
      font-family: "Times New Roman", Times, serif;
      width: 80%;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-style: italic;
      font-size: 25px;
      letter-spacing: 3px;
    }
  }

  section.projetos {
    width: 100%;
    margin: 5rem 0;

    section.projetos-container {
      width: 90%;
      margin: 0 auto;

      .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        @media (width < 1300px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (width < 900px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .card {
        border: none;
        border-radius: 5px;
        background-color: #141414;
        color: white;
        z-index: 0;

        div.img-container {
          z-index: 0;

          img {
            height: 200px;
            object-fit: cover;
            object-position: center;
            transition: 3s size ease;
          }
        }

        div.card-text-container {
          padding: 30px;
          margin: 0 auto;
          h1.card-h1 {
            color: rgb(100, 100, 180);
            font-size: 23px;
            text-transform: none;
          }

          article {
            opacity: 0.8;
            font-size: var(--font-size--medium);
          }
        }

        div.icons {
          margin: auto;
          margin-bottom: 0;
          display: flex;
          padding-bottom: 20px;
          gap: 15px;

          i {
            font-size: 35px;
            background: linear-gradient(to top, #ef32d9, #89fffd);
            background-clip: text;
            color: transparent;
          }
        }

        div.card-links {
          display: flex;
          width: 100%;

          a.card-link {
            margin: 0;
            width: 100%;
            padding: 5px 10px;
            text-align: center;
            color: #f1f1f1;
            background-color: rgb(57, 57, 57);
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover {
              background-color: rgb(255, 255, 255);
              color: rgb(0, 0, 0);
            }

            &:first-child {
              border-right: black 1px solid;
              border-bottom-left-radius: 5px;
            }

            &:last-child {
              border-left: black 1px solid;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }
  }

  section.desenvolvimento {
    width: 100%;
    background-color: #040404;
    padding: 50px 0;
    margin-bottom: 50px;

    div.desenvolvimento-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      article {
        color: #f1f1f1;
      }

      div.desenvolvimento-responsivo {
        display: flex;
        height: 600px;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 30rem;
        z-index: 0;

        h1 {
          text-transform: uppercase;
          font-size: var(--font-size--large);
        }

        article {
          font-size: var(--font-size--medium);
        }

        div.pictures {
          width: 50%;
          height: 100%;
          position: relative;
        }

        div.pictures .phone {
          position: absolute;
          left: 70%;
          top: 50%;
          width: 130px;
          height: 130px;
          @media (width < 650px) {
            left: 75%;
            width: 90px;
            height: 80px;
          }
          background-image: url("../assets/phone.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        div.pictures .phone::after {
          content: "";
          position: absolute;
          left: 50%;
          border-radius: 10px;
          top: 3px;
          transform: translate(-50%);
          width: 45%;
          height: 97%;
          @media (width < 650px) {
            top: 1px;
          }
          background-image: url("../assets/fight-mobile.jpeg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        div.pictures .notebook {
          width: 500px;
          height: 300px;
          @media (width < 650px) {
            width: 300px;
            height: 200px;
          }
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url("../assets/notebook.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          perspective: 400px;
        }

        div.pictures .notebook::after {
          content: "";
          position: absolute;
          right: 68px;
          bottom: 69px;
          width: 270px;
          height: 240px;
          @media (width < 650px) {
            right: 28px;
            bottom: 45px;
            width: 180px;
            height: 160px;
          }
          transform: rotate3D(0.4, -0.9, 0.5, 15deg);
          scale: 0.78;
          background-image: url("../assets/fight.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: rgb(20, 20, 20) 2px solid;
        }

        @media (width < 990px) {
          flex-direction: column;
        }
      }

      div.desenvolvimento-versatil {
        z-index: 0;
        display: flex;
        height: 600px;
        width: 100%;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 30rem;

        h1 {
          text-transform: uppercase;
          text-align: center;
          font-size: 25px;
          font-size: var(--font-size--large);
        }

        article {
          text-align: center;
          font-size: var(--font-size--medium);
        }

        div.circles-container {
          z-index: -1;
          position: absolute;
          top: 0;left: 0;bottom: 0;right: 0;

          .circle {
            z-index: -1;
            opacity: 0.2;
            border-radius: 50%;
            position: absolute;
            filter: blur(20px);
            
          }

        }

        @media (width < 990px) {
          flex-direction: column;
        }
      }

      div.description {
        width: 40%;
        color: white;

        @media (width < 990px) {
          width: 80%;
          h1 {
            text-align: center;
          }
          article {
            text-align: center;
          }
        }
      } //general section descripton
    }
  }

  section.habilidades {
    margin-bottom: 50px;

    div.habilidades-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      gap: 50px;

      @media (width < 800px) {
        flex-direction: column;
        width: 80%;
      }

      div.habilidade {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #f1f1f1;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 20px 30px;
        max-width: 350px;
        background-color: #221a2a;
        box-shadow: 0 0 10px 1px rgb(38, 28, 38);

        img.habilidade-icon {
          border: 5px solid rgb(79, 0, 98);
          background-color: rgb(133, 0, 205);
          border-radius: 50%;
          padding: 20px;
          width: 100px;
        }

        h3 {
          color: white;
          margin: 10px 0 20px 0;
        }

        article.habilidade-descricao {
          text-align: center;
        }

        ul {
          margin-top: 20px;
          list-style: none;
          width: 100%;
          background-color: rgb(37, 10, 34);
          padding: 20px 5px;
          border-radius: 25px 5px;

          a {
            text-align: center;
            color: rgb(211, 194, 230);
            text-decoration: none;
            margin-bottom: 5px;

            li {
              position: relative;
              width: fit-content;
              transition: 0.3s ease-in-out all;
              margin: 0 auto;
              background: linear-gradient(to right, #fc466b, #3f5efb);
              background-clip: text;

              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: scaleX(0);
                transition: 0.3s ease-in-out transform;
                transform-origin: bottom right;
                height: 2px;
                background: linear-gradient(to right, #fc466b, #3f5efb);
              }

              &:hover {
                letter-spacing: 1px;
                -webkit-text-fill-color: transparent;

                &::after {
                  transform: scaleX(1);
                  transform-origin: bottom left;
                }
              }
            }
          }
        }
      }
    }
  }

  section.call-to-action {
    position: relative;
    transition: 0.5s linear all;
    overflow: hidden;
    z-index: 0;
    background-image: url(https://www.eurokidsindia.com/blog/wp-content/uploads/2023/09/galaxy-types-and-facts.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.call {
      height: 30rem;

      div.action-container {
        transform: translate(0%);
      }

      div.contact-container {
        transform: translate(150%);
      }
    }

    &.action {
      height: 47rem;

      div.action-container {
        transform: translate(-150%);
      }

      div.contact-container {
        transform: translate(0%);
      }

      &::after {
        background-color: #141414;
        opacity: 1;
      }
    }

    &::after {
      transition: 1s all linear;
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.9;
    }

    div {
      width: 100%;
      position: absolute;
      top: 0;
    }

    div.action-container {
      transition: 0.5s all linear;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      max-width: 900px;
      width: 80%;
      gap: 20px;
      position: relative;
      height: 30rem;
      color: #f1f1f1;

      h3.action-title {
        font-size: var(--font-size--x-large);
        font-family: "Playfair Display", "Times New Roman", Times, serif;
        color: rgb(100, 100, 180);
      }

      span.action-description {
        color: #f1f1f1;
        font-size: var(--font-size--large);
      }

      a.action-button {
        position: relative;
        z-index: 0;
        text-align: center;
        text-decoration: none;
        color: #f1f1f1;
        background-color: rgb(0, 0, 55);
        padding: 10px 5px;
        width: 200px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: rgb(10, 10, 58);
        }
      }
    }

    div.contact-container {
      transition: 0.5s all linear;

      form.contact-form {
        position: relative;
        width: 80%;
        padding: 100px 0;
        max-width: 900px;
        margin: 0 auto;
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span.back {
          cursor: pointer;
          position: absolute;
          top: 30px;
          width: 100%;
          width: 20px;
          height: 20px;
          border-left: white 1px solid;
          border-bottom: white 1px solid;
          transform: rotate(45deg);
        }

        span.error {
          background-color: rgb(255, 126, 126);
          color: rgb(255, 44, 44);
          margin: 0 auto;
          width: 80%;
          padding: 10px;
          text-align: center;
          font-weight: bold;
        }

        input,
        textarea {
          border-radius: 5px;
          padding: 5px;
          background-color: #e3e3e3;

          &:focus {
            outline: none;
          }
        }

        button.send {
          cursor: pointer;
          margin: 0 auto;
          border-radius: 5px;
          max-width: 200px;
          padding: 10px 20px;
          background-color: rgb(100, 100, 180);
          border: none;
        }
      }

      div.agradecimento {
        background-color: rgb(221, 243, 221);
        padding: 20px;
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

footer {
  padding-top: 20px;
  div.footer-container {
    div.footer-main {
      width: 80%;
      margin: 0 auto;
      display: flex;
      position: relative;

      @media (width < 800px) {
        flex-direction: column;
        gap: 20px;
      }

      h4 {
        color: #fd3d50;
      }

      h2.footer-title {
        color: white;
        span {
          color: #fd3d50;
        }
        
        &::first-letter {
          color: #fd3d50;
        }
        
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        user-select: none;
        cursor: default;
      }

      li a {
        text-decoration: none;
        color: #f1f1f1;
        transition: 0.3s ease-in-out letter-spacing;
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -2px;
          left: 0;
          transition: 0.3s ease-in-out transform;
          transform: scale(0);
          transform-origin: center;
          background: radial-gradient(#fd3d50, rgb(80, 80, 255));
        }

        &:hover {
          letter-spacing: 1px;
          &::after {
            transform: scale(1);
          }
        }
      }

      div,
      ul {
        height: fill;
        width: 100%;
        list-style: none;
        span {
          color: #515151;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        background-color: #1b1b1b;
        height: 2px;
      }
    }

    div.copyright {
      text-align: center;
      color: rgb(111, 111, 111);
      width: 80%;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
}
